{% extends "base.html.twig" %}

{% block body %}
    <ul>
        {% for book in pager %}
            <li>
            <h5>{{ book.title }}
                <small class="text-muted">{{book.author}}</small>
            </h5>
            <p>{{book.description}}</p>

            </li>
        {% endfor %}
    </ul>
    {{pagerfanta(pager)}}

{% endblock %}
